@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
}



body {
    font-family: 'Manrope', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;    
    align-items: center;
    flex-direction: column;
    background-color: var(--Light-Grayish-Blue);
}

@media (max-width : 1023px) {
    .mobile {
            display: inline;
        }
    
    .desktop {
        display: none;
    }

    main {
        width: 80vw;
        background-color: white;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 10px;
    } 

    .main_image {
        width: 100%;
    }
    
    .main_image-img {
        width: 100%;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    .main_textContent {
        margin-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .main_textContent-h1 {
        margin-bottom: 10px;
        line-height: 25px;
        font-weight: 700;
        color: var(--Very-Dark-Grayish-Blue);
    }
    
    .main_textContent-p {
        color: var(--Grayish-Blue);
        font-size: 13px;
        line-height: 20px;
    }

    .main_share {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        position: relative;

    }

    .main_share_popUp {
        position: absolute;
        top: 0px;
        background-color: var(--Very-Dark-Grayish-Blue);
        width: 80%;
        width: 100%;
        height: 100%;
        margin-top: 20px;
        margin-left: -20px;
        display: none;
        justify-content: space-between;
        align-items: center;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .main_share_popUp_content {
        margin-left: 20px;
        display: flex;
        justify-content: space-between;
    }

    .main_share_popUp_content h2 {
        margin: 10px;
        color: var(--Grayish-Blue);
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 10px;
        display: flex;
        align-items: center;    
    }


    .main_share_popUp_content img {
        margin: 10px;
        width: 20px;
    }

    .main_share_popUp-button {
        margin-right: 20px;
        height: 30px;
        width: 30px;
        border: none;
        border-radius: 50%;
        background-color: var(--Desaturated-Dark-Blue);
    }

    .main_share_popUp-button img {
        filter: brightness(0) invert(1);
    }

    .main_share_image {
        width: 40px;
        margin-right: 15px;
    }

    .main_share_image-img{
        border-radius: 50%;
        width: 100%;
    }

    .main_share_person {
        display: flex;
    }

    .main_share_textContent {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 13px;
    }

    .main_share_textContent-h2 {
        color: var(--Very-Dark-Grayish-Blue);
        font-weight: 700;
    }

    .main_share_textContent-p {
        color: var(--Grayish-Blue);
    }

    .main_share_share_share {
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .main_share_share_share-button {
        height: 30px;
        width: 30px;
        border: none;
        border-radius: 50%;
    }

    @media (min-width : 400px){
        main {
            width: 320px;
        }
    }
}
